@using App.Domain.Core.DtoModels.CommentDtoModels;
@model IEnumerable<InvoiceViewModel>

@{
    ViewData["Title"] = "فاکتور";
    Layout = "_AdminLayout";
}

<h1>فاکتور</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr class="bg-info text-white">

            <th>
                نام خریدار
            </th>
            <th>
                نام فروشنده
            </th>
            <th>
                نام محصول
            </th>
            <th>
                تعداد محصول
            </th>
            <th>
                میزان فروش
            </th>
            <th>
                میزان کمیسیون
            </th>

            <th>
                عملیات
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>

                <td> @invoice.BuyerName</td>
                <td>
                    @invoice.SellerName
                </td>
                <td>
                    @invoice.ProductName
                </td>
                <td>
                    @invoice.Quantity
                </td>
                <td>
                    @invoice.TotalAmount
                </td>
                <td>
                    @invoice.Commision
                </td>
                <td>
                    <a class="btn btn-info text-white" href="#">پرداخت کمیسیون</a>
                </td>
            </tr>
        }
    </tbody>

</table>
