@using App.EndPoints.MVC.OnlineMarket.Areas.Users.Models.ViewModels;
@model ProfileViewModel

@{
    ViewData["Title"] = "صفحه اختصاصی کاربران";
    Layout = "_UserLayout";
}

<div class="col-lg-9">
    <div class="content-box" style="padding:40px 20px;">
        <div class="row">
            <div class="col-12">
                <div class="ui-boxs">
                    <div class="ui-box">
                        <div class="ui-box-item ui-box-white">
                            <div class="ui-box-item-title">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="fw-bold">
                                        اطلاعات شخصی
                                    </h4>
                                    @if (Model.Seller != null)
                                    {
                                        <a class="btn-main btn-main-primary" asp-controller="Profile" asp-action="Update" asp-route-Id="@Model.Seller.Id">
                                            ویرایش <i class="bi bi-pencil-fill"></i>
                                        </a>
                                    }
                                    else if (Model.Buyer != null)
                                    {
                                        <a class="btn-main btn-main-primary" asp-controller="Profile" asp-action="Update" asp-route-Id="@Model.Buyer.Id">
                                            ویرایش <i class="bi bi-pencil-fill"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                            <div class="ui-box-item-desc p-0">
                                @if (Model.Seller != null)
                                {
                                    <table class="table main-table shadow-none main-table-2">
                                        <tr>
                                            <td colspan="2">
                                                <h6 class="text-muted">نام و نام خانوادگی</h6>
                                                <p class="fw-bold mt-2">@Model.Seller.FirstName @Model.Seller.LastName</p>
                                            </td>
                                            <td colspan="2">
                                                <h6 class="text-muted">شماره تلفن</h6>
                                                <p class="fw-bold mt-2">@Model.Seller.PhoneNumber</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h6>عضویت</h6>
                                                <p class="fw-bold mt-2">@Model.Seller.CreatedAt</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <h6>آدرس: </h6>
                                                <p class="fw-bold mt-2">@Model.Seller.Address</p>
                                            </td>
                                        </tr>
                                    </table>
                                }
                                else if (Model.Buyer != null)
                                {
                                    <table class="table main-table shadow-none main-table-2">
                                        <tr>
                                            <td colspan="2">
                                                <h6 class="text-muted">نام و نام خانوادگی</h6>
                                                <p class="fw-bold mt-2">@Model.Buyer.FirstName @Model.Buyer.LastName</p>
                                            </td>
                                            <td colspan="2">
                                                <h6 class="text-muted">شماره تلفن</h6>
                                                <p class="fw-bold mt-2">@Model.Buyer.PhoneNumber</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h6>عضویت</h6>
                                                <p class="fw-bold mt-2">@Model.Buyer.CreatedAt</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <h6>آدرس: </h6>
                                                <p class="fw-bold mt-2">@Model.Buyer.Address</p>
                                            </td>
                                        </tr>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
