
@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "محصولات";
    Layout = "_AdminLayout";
}
<h1>محصولات</h1>



<table class="table table-striped table-bordered">
    <thead>
        <tr class="bg-info text-white">
            <th>
                نام محصول
            </th>

            <th>
                قیمت
            </th>
            <th>
                تعداد محصول
            </th>
            <th>
                دسته بندی
            </th>
            <th>
                نام فروشنده
            </th>
            <th>
                نام فروشگاه
            </th>
            <th>
                محصول مزایده ای
            </th>
            
            <th>
                تایید شده
            </th>

            <th> عملیات</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberofProducts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StallName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Auction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAccepted)
                </td>
                <td>
                   <a class="btn btn-info text-white" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">ویرایش</a>
                    <a class="btn btn-info text-white" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                    


                </td>
            </tr>
        }
    </tbody>

</table>