@using App.EndPoints.MVC.OnlineMarket.Areas.Admin.Models.ViewModels;
@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "لیست محصولات مزایده ای";
    Layout = "_UserLayout";
}
<h1>محصولات مزایده ای</h1>



<table class="table table-striped table-bordered">
    <thead>
        <tr class="bg-info text-white">
            <th>
                نام محصول
            </th>

            <th>
                قیمت
            </th>
            <th>
                تعداد محصول
            </th>
            <th>
                دسته بندی
            </th>
            <th>
                نام فروشنده
            </th>
            <th>
                نام فروشگاه
            </th>
            <th>
                محصول مزایده ای
            </th>

            <th>
                تایید شده
            </th>

            <th> عملیات</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberofProducts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StallName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Auction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAccepted)
                </td>
                <td>


                    @if (!item.Auctions.Any()) 
                    {
                        <a class="btn btn-secondary text-white" data-bs-toggle="tooltip" data-bs-placement="top" title="ایجاد مزایده" asp-controller="Auction" asp-action="CreateAuction" asp-route-id="@item.Id"><i class="bi bi-arrow-clockwise"></i></a>

                    }

                </td>
            </tr>
        }
    </tbody>

</table>








